# LIST

In [16]:
hands = [
    ['J', 'Q', 'K'],
    ['2', '2', '2'],
    ['6', 'A', 'K'], # (Comma after the last element is optional)
]
# (I could also have written this on one line, but it can get hard to read)
hands = [['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]

In [ ]:
# print 'A' from hands
print(hands[2][1])

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

print(planets[0]) # Mercury first item
print(planets[-1]) # Neptune last item
print(planets[3:6]) # Mars, Jupiter, Saturn 
print(planets[:4])   # Mercury, Venus, Earth, Mars (first four)
print(planets[4:])   # Jupiter, Saturn, Uranus, Neptune (last four)
print(planets[1:-1])  # Venus, Earth, Mars, Jupiter, Saturn, Uranus (all but first and last)
print(planets[-3:])  # Saturn, Uranus, Neptune (last three)
print(planets[:-3])  # Mercury, Venus, Earth, Mars, Jupiter (all but last three)

Mercury
Neptune
['Mars', 'Jupiter', 'Saturn']
['Mercury', 'Venus', 'Earth', 'Mars']
['Jupiter', 'Saturn', 'Uranus', 'Neptune']
['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus']

In [ ]:
# print the planet in reverse order using for loop
for planet in reversed(planets):
    print(planet)

['Neptune', 'Uranus', 'Saturn', 'Jupiter', 'Mars', 'Earth', 'Venus', 'Mercury']

In [21]:
name = ['Alice', 'Bob', 'Charlie']

name[0] , name[2] = name[2], name[0]  # swap first two elements

print(name)

['Charlie', 'Bob', 'Alice']

# alphabetical order

In [7]:
sorted_planets = sorted(planets)
print(sorted_planets)  # alphabetical order

['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']

# Method

In [13]:
# list.append() method adds a single item to the end of an existing list.
planets.append('Pluto')
print(planets)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto']

In [14]:
planets.pop()  # removes and returns the last item in the list
print(planets)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [15]:
planets.index('Earth')  # returns the index of the first matching item found in the list

2

# Tuples
- in ()
- cannot be modified

In [18]:
t = (1, 2, 3)
print(t)

y = 5,4,6
print(y)

(1, 2, 3)
(5, 4, 6)

In [23]:
7/2

3.5