In [1]:
import pandas as pd

In [12]:
df = pd.read_csv('E:\BUP-ML-Portfolio\BUP-ML-Portfolio\ACC\dataset\Bagerhat_historical_weather_2023_to_2025.csv')

df.describe()

<>:1: SyntaxWarning: invalid escape sequence '\B'
<>:1: SyntaxWarning: invalid escape sequence '\B'
C:\Users\Khalid\AppData\Local\Temp\ipykernel_21228\1763387687.py:1: SyntaxWarning: invalid escape sequence '\B'
  df = pd.read_csv('E:\BUP-ML-Portfolio\BUP-ML-Portfolio\ACC\dataset\Bagerhat_historical_weather_2023_to_2025.csv')

,year,month,day,temp,humidity,pressure,uv_index,aqi_us,aqi_eu,pm1,pm2_5,pm10,so2_ppb,no2_ppb,o3_ppb,co_ppb
count,795.000000,795.000000,795.000000,795.000000,795.000000,795.000000,795.000000,791.000000,791.000000,792.000000,791.000000,791.000000,763.000000,763.000000,763.000000,763.000000
mean,2024.000000,6.841509,15.415094,28.785660,81.416604,1005.920377,7.066667,87.878635,3.212389,24.662879,30.890013,43.618205,4.213630,8.053735,49.778506,205.635649
std,0.817011,2.506925,8.767427,2.146245,7.582161,4.817026,1.789793,40.262247,1.337066,18.114783,20.972841,29.725978,3.385971,6.563519,25.602595,137.350179
min,2023.000000,3.000000,1.000000,22.200000,55.100000,985.200000,1.000000,27.000000,1.000000,3.000000,7.000000,7.000000,0.000000,0.000000,0.000000,4.000000
25%,2023.000000,5.000000,8.000000,27.700000,76.800000,1002.600000,6.000000,56.000000,2.000000,10.000000,14.000000,19.000000,2.000000,4.000000,33.000000,119.000000
50%,2024.000000,7.000000,15.000000,29.000000,82.200000,1005.500000,7.000000,76.000000,3.000000,19.000000,25.000000,37.000000,3.000000,6.000000,49.000000,169.000000
75%,2025.000000,9.000000,23.000000,30.100000,86.900000,1009.700000,8.000000,118.000000,4.000000,35.000000,43.000000,60.000000,6.000000,11.000000,69.000000,264.000000
max,2025.000000,11.000000,31.000000,34.400000,96.000000,1017.000000,10.000000,188.000000,6.000000,116.000000,130.000000,156.000000,18.000000,36.000000,141.000000,672.000000